RewriteEngine On

# Allow direct access to the assets directory
RewriteRule ^assets/ - [L]

# Redirect all other requests to the public directory
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]