table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif; /* Add font family here */
  color: red;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: Arial, sans-serif; /* Add font family here */
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
