* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #ccc; /* Updated font color */
  font-family: Inter, Arial, sans-serif;
}

.header-background {
  background-color: #73e2ab;
}

.header-background h3 {
  color: #111;
}

.hero {
  margin: 12px;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  /* border: 2px solid #ccc; */
  background: linear-gradient(90deg, #242927 0%, rgb(37, 44, 41) 100%);
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  margin: 12px;
}

.container .content {
  flex: 1;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(90deg, #242927 0%, rgb(37, 44, 41) 100%);
  /* border: 2px solid #ccc; */
}

input.search-filter {
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  padding: 8px;
}

input.search-filter:focus {
  border-color: lightgray;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  color: #ccc; /* Updated font color */
  border-radius: 10px; /* Added border-radius property */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: #ccc; /* Updated font color */
}

tr:nth-child(even) {
  background-color: #222;
}

h1 {
  color: #ccc; /* Updated font color */
}
